body {
font-family: Arial, sans-serif;
margin: 10;
background-color: #f4f4f4;
}
.iframe-section {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #ffffff;
}

.iframe-section iframe {
    width: 80%;
    height: 400px;
    border-radius: 10px;
}

header {
background-color: #2c3e50;
color: white;
padding: 15px;
text-align: center;
}

nav a {
color: white;
margin: 15px;
text-decoration: none;
font-weight: bold;
}

.container {
display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 20px;
}

.product {
background: white;
width: 220px;
margin: 15px;
padding: 15px;
text-align: center;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product img {
width: 100%;
height: 250px;
object-fit: cover;
}

.price {
color: #27ae60;
font-size: 18px;
font-weight: bold;
}

button {
background-color: #27ae60;
color: white;
border: none;
padding: 10px;
width: 100%;
cursor: pointer;
border-radius: 3px;
}

button:hover {
background-color: #219150;
}

footer {
background-color: #2c3e50;
color: white;
text-align: center;
padding: 10px;
position: fixed;
bottom: 0;
width: 100%;
}
.category {
padding: 30px 20px;
}

.category h2 {
text-align: center;
margin-bottom: 20px;
}

.women {
background-color: #ffe6f0;
}

.men {
background-color: #e6f0ff;
}
