body {
    font-family: Arial;
}

header {
    background: lightgray;
    padding: 10px;
}

nav a {
    margin-right: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: lightgray;
    text-align: center;
}
.product img {
    width: 100%;
    max-width: 150px;
    height: auto;
}
.products {
    display: flex;
    gap: 20px;       /* space between items */
}

.product {
    text-align: center;
}